:root {
  --primary-color: #378b82;
  --secondary-color: #419f95;
  --background-color: #f4f3e2;
  --primary-text-color: #000000;
  --secondary-text-color: #f5f5f5;
  font-family: "Times New Roman", Times, serif;
  margin: 10px;
  padding: 2px;
  border: 1px solid black;
}
/* ---- header styling ---- */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  margin: 2px;
}
#header-text {
  margin-left: 20px;
  text-align: left;
  color: var(--secondary-text-color);
  font-size: x-large;
}
#header-text h2 {
  font-size: larger;
}
#profile-picture {
  margin-right: 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid white;
}

/* ---- nav bar styling ----*/

nav > ul {
  /* for deleting the bullet marks */
  display: flex;
  gap: 20px;
  font-weight: bold;
}
/* to make sub list have vertical flow*/
.sub-list {
  display: flex;
  flex-direction: column;
  font-weight: lighter;
}
nav ul {
  list-style: none;
  padding: 14px;
}
nav a {
  /* for deleting underline from links */
  text-decoration: none;
  font-size: large;
  color: #000000;
  margin: 4px;
  padding: 2px;
}
nav a:hover {
  color: var(--secondary-text-color);
  background-color: var(--secondary-color);
}
nav a.active-link:active {
  font-weight: bold;
  border-bottom: 2px dotted;
  background-color: var(--secondary-color);
}
/* footer styling */
footer {
  text-align: center;
  font-size: small;
  color: var(--secondary-text-color);
  background-color: var(--primary-color);
  padding: 4px;
}
footer a {
  font-size: smaller;
  text-decoration: none;
  color: var(--secondary-text-color);
}
